<section id="organizer" class={{ include.class }}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="padding-bottom: 20px;">
                <h2 class="section-heading">Tutorial Organizers </h2>
                <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
            </div>
        </div>
        
        <div class="row">

            
            <div class="col-sm-2">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/wangshuai.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://lucaswang16.github.io/">Shuai Wang</a></h4>
        <p class="text-muted">Technological Expert</p>
        <p class="text-muted">Huawei Noah's Ark Lab</p>
    </div>
</div>

<div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/zhoukaiwen.png" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://jnhujnhu.github.io/">Kaiwen Zhou</a></h4>
        <p class="text-muted">Technological Expert</p>
        <p class="text-muted">Huawei Noah's Ark Lab</p>
    </div>
</div>


<div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/shaorui.png" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://rshaojimmy.github.io/">Rui Shao</a></h4>
        <p class="text-muted">Professor</p>
        <p class="text-muted">Harbin Institute of Technology (Shenzhen)</p>
    </div>
</div>



<div class="col-sm-1">
    &nbsp;
</div>
            
        </div>

        <div class="row">
            
            <div class="col-sm-2">
    &nbsp;
</div>
    
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://scholar.google.com/citations?user=Mpg0w3cAAAAJ&hl=zh-CN">Gongwei Chen</a></h4>
        <p class="text-muted">PostDoc</p>
        <p class="text-muted">Harbin Institute of Technology (Shenzhen)</p>
    </div>
</div>


<div class="col-sm-1">
    &nbsp;
</div>
    
                <div class="col-sm-2">

    <div class="team-member">
        <img src="assets/img/zhouyuqi.jpeg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://yuqi-zhou.github.io/">Yuqi Zhou</a></h4>
        <p class="text-muted">Ph.D. Candidate</p>
        <p class="text-muted">Renmin University of China</p>
    </div>
    
</div>



<!-- <div class="col-sm-1">
    &nbsp;
</div>
            
                <div class="col-sm-2">
    <div class="team-member">
        <img src="assets/img/xujun.jpg" class="img-responsive img-circle" alt="" width="600" height="600">
        <h4><a href="https://gsai.ruc.edu.cn/~junxu">Jun Xu</a></h4>
        <p class="text-muted">Professor</p>
        <p class="text-muted">Renmin University of China</p>
    </div>
</div> -->

<div class="col-sm-1">
    &nbsp;
</div>
            
        </div>
        
    </div>
</section>
